[package]
name = "f2bs"
version = "0.1.1"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1.0"
chrono = "0.4"
crossterm = "0.28"
ratatui = "0.28"

[profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
panic = "abort"
